.about-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1.5rem;
}

.about-page-logo-container {
  max-width: 300px;
  max-height: 300px;
  border-radius: var(--ion-global-radius);
  overflow: hidden;
}

.about-page-logo {
  height: 100%;
  width: 100%;
}

.about-page-contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-page-contact-container a {
  text-decoration: none;
  color: var(--ion-color-link);
  font-size: 1.5rem;
}

.about-page-field {
  width: 100%;
}